* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;

}
.container {
    background-color: cadetblue;
   width: 500px;
}
.container button {
    margin-top: 2em;

}
.header {
    background-color: rgba(210, 105, 30, 0.267);
    text-align: center;
}
form {
    padding: 30px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input {
    border: 2px solid rgb(51, 51, 51);
    display: block;
    font-size: 16px;
    width: 100%;
}

.form-control.success input {
    border-color:green ;
}
.form-control.error input {
    border-color:red ;
}


.form-control i {
    right: 10px;
   top: 25px;
   position: absolute;
   visibility: hidden;
}
.form-control.success i.fa-check-circle {
    color: green;
    visibility: visible;
}
.form-control.error i.fa-exclamation{
    color: red;
    visibility: visible;
}


.form-control small {
    position: absolute;
   visibility: hidden;
}

.form-control.error small {
    visibility: visible;
    color: red;
}
.form button {
    background-color: rgba(210, 105, 30, 0.267);
    width: 100%;
    height: 2em;
    display: block;
    font-size: 16px;
}
